* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 7%;
  padding-top: 10px;
}

#welcome-screen {
  height: 100vh;
}

.name-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: -2;
  text-align: center;
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #6752ea;
  position: absolute;
  z-index: -1;
}

.name {
  color: #040415;
  position: relative;
  left: 7px;
}

.two-letters {
  color: #f4f3f8;
}

.nav-start {
  padding-top: 20px;
}

.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.a-topnav,
.topnav-icon {
  text-decoration: none;
  color: #040415;
  font-size: 18px;
  font-weight: 500;
  padding: 0 15px;
  font-weight: 600;
}

.topnav-icon {
  display: none;
}

.a-topnav:hover,
.topnav-icon:hover {
  color: #6752ea;
}

.ul-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.a-social {
  text-decoration: none;
  color: #040415;
  font-size: 18px;
  font-weight: 500;
  padding: 0 10px;
}

.linked-in:hover {
  color: #0a66c2;
}

.github:hover {
  color: #8787a3;
}

.instagram:hover {
  color: #e1306c;
}

.medium:hover {
  color: #00ab6c;
}

.nav-bottom-line {
  height: 3px;
  margin-top: 20px;
  background: linear-gradient(
    to right,
    transparent 0%,
    gainsboro 50%,
    transparent 100%
  );
}

/* Welcome page */

.welcome-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 8% 7%;
}

/* .left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */

.welcome-texts-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.welcome-text-1 {
  font-size: 35px;
  font-weight: 500;
  color: #040415;
  letter-spacing: 0.95px;
  padding-bottom: 10px;
}

.welcome-text-2 {
  font-size: 50px;
  font-weight: 600;
  margin-top: 10px;
  color: #040415;
  letter-spacing: 0.95px;
  padding: 10px 0 40px 0;
}

.welcome-role-text {
  text-decoration: underline;
  color: #6752ea;
  cursor: pointer;
}

.welcome-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  /* width: 55%; */
}

.cnt-me {
  height: 50px;
  width: 45%;
  border-radius: 30px;
  border: none;
  background: none;
  background-color: #6752ea;
  /* background-color: #ff4d1c; */
  color: #f4f3f8;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border: transparent;
  cursor: pointer;
}

.view-cv {
  height: 50px;
  width: 45%;
  border-radius: 30px;
  border: none;
  background: none;
  /* color: #040415; */
  background-color: #f4f3f8;
  /* background-color: #6752ea;
  color: #f4f3f8; */
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.cnt-me:hover,
.view-cv:hover {
  /* background-color: #d1d0d6;
  color: #040415; */
  background-color: #ff4d1c;
}

.view-cv-a {
  text-decoration: none;
  color: #040415;
}

.view-cv:hover > a {
  color: #f4f3f8;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.img-container {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background-color: #6752ea;
  position: relative;
  left: 150px;
}

.img-depth {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #ff4d1c;
  position: relative;
  z-index: -1;
  top: 150px;
}

/* Info page */
.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f3f8;
  padding: 4% 7%;
}

.info-container h1 {
  font-size: 35px;
  font-weight: 700;
  color: #787879;
  letter-spacing: 0.95px;
  padding-bottom: 10px;
}

.info-container p {
  font-size: 18px;
  font-weight: 400;
  color: #787879;
}

.hover {
  transform: scale(1.1);
}

.hover .info-right p {
  /* font-size: 20px; */
  font-weight: 600;
}

.hover .info-left h1 {
  /* font-size: 75px; */
  color: #6752ea;
}

.hover .info-left p {
  /* font-size: 20px; */
  font-weight: 600;
  color: #6752ea;
}

.educational-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3% 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.work-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3% 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.info-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.info-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  padding: 0 15% 0 0;
}

/* Skills page */

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: first baseline;
  padding: 4% 7%;
  width: 100%;
}

.skills-container h1 {
  padding-bottom: 30px;
}

.skills-container img {
  width: 25px;
  height: 25px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3% 0;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.skill p {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #040415;
}

.skill:hover {
  transform: scale(1.5);
}

.skill-hover img {
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.skill-hover p {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #040415;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (max-width: 750px) {
  .info-container {
    align-items: center;
  }

  .educational-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
    width: auto;
  }

  .work-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  .info-right {
    display: flex;
    flex-direction: column;
    padding: 5% 0;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .info-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .skill img {
    width: 15px;
    height: 15px;
  }

  .skill p {
    font-size: 10px;
  }
}

@media screen and (max-width: 940px) {
  .nav-start {
    margin-left: 8%;
  }

  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav-icon {
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive.topnav-icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 1050px) {
  .welcome-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img-container {
    left: 0;
    height: 250px;
    width: 250px;
  }

  .img-depth {
    display: none;
  }

  .left {
    margin-top: 20px;
  }

  .welcome-texts-container {
    align-items: center;
  }

  .welcome-text-1 {
    font-size: 25px;
  }

  .welcome-text-2 {
    font-size: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 1110px) {
  .welcome-text-1 {
    font-size: 20px;
  }

  .welcome-text-2 {
    font-size: 30px;
  }

  .info-container h1 {
    font-size: 28px;
    font-weight: 700;
  }

  .hover .info-left h1 {
    font-size: 60px;
  }

  .info-container p {
    font-size: 13px;
    font-weight: 400;
  }

  .hover .info-right p {
    font-size: 15px;
    font-weight: 600;
  }
}

@media screen and (max-width: 1200px) {
  .welcome-text-1 {
    font-size: 25px;
  }

  .welcome-text-2 {
    font-size: 35px;
  }

  .info-container h1 {
    font-size: 30px;
    font-weight: 700;
  }

  .info-container p {
    font-size: 15px;
    font-weight: 400;
  }

  .hover .info-right p {
    font-size: 17px;
    font-weight: 600;
  }

  .hover .info-left h1 {
    font-size: 65px;
  }
}

@media screen and (max-width: 1300px) {
  .welcome-text-1 {
    font-size: 30px;
  }

  .welcome-text-2 {
    font-size: 40px;
  }

  .info-container h1 {
    font-size: 32px;
    font-weight: 700;
  }

  .info-container p {
    font-size: 18px;
    font-weight: 400;
  }

  .hover .info-right p {
    font-size: 17px;
    font-weight: 600;
  }

  .hover .info-left h1 {
    font-size: 70px;
  }
}
