html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}

#scroll-percent {
  position: fixed;
  top: 0;
  width: 100vw;
  color: #000;
  margin: 0;
  padding: 0;
}

[data-scrollPercentage] .percentage {
  display: inline-block;
  background-color: #ff4d1c;
  height: 4px;
  width: 0;
}

:root {
  --navbar-bg-color: #fff;
  --navbar-text-color: #040415;
  --navbar-text-color-focus: #6752ea;
}

/* nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 7%;
  padding-top: 10px;
  position: fixed;
  background-color: #fff;
  z-index: 5;
} */

.container {
  max-width: 1000px;
  padding: 0 1.4rem;
  margin: 0 auto;
}

#navbar {
  --navbar-height: 64px;
  position: fixed;
  height: var(--navbar-height);
  background-color: var(--navbar-bg-color);
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.navbar-item {
  margin: 0.4em;
  width: 100%;
}

.home-link,
.navbar-link {
  color: var(--navbar-text-color);
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
}

.home-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 5px;
}

.navbar-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
}

#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 6%;
}

.icon-bar {
  display: block;
  width: 20px;
  height: 3px;
  margin: 2px;
  background-color: var(--navbar-text-color);
  border-radius: 3px;
}

#navbar-toggle:is(:hover) .icon-bar {
  background-color: var(--navbar-text-color-focus);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
  transform: rotate(45deg);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
  transform: rotate(-45deg);
}

#navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
  z-index: 10;
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
}

.navbar-links {
  list-style: none;
  position: absolute;
  background-color: var(--navbar-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
  padding: 1em;
}

.name-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: -2;
  text-align: center;
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #6752ea;
  position: absolute;
  z-index: -1;
}

.name {
  color: #040415;
  position: relative;
  left: 7px;
}

.two-letters {
  color: #f4f3f8;
}

.ul-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.a-social {
  text-decoration: none;
  color: #040415;
  font-size: 18px;
  font-weight: 500;
  padding: 0 10px;
}

.linked-in:hover {
  color: #0a66c2;
}

.github:hover {
  color: #8787a3;
}

.instagram:hover {
  color: #e1306c;
}

.medium:hover {
  color: #00ab6c;
}

/* Welcome page */

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.welcome-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10% 7%;
}

.is-inViewport .left .welcome-texts-container .welcome-text-1 {
  animation: 1.2s ease-out 0s 1 slideInFromLeft;
}

.is-inViewport .left .welcome-texts-container .welcome-text-2 {
  animation: 1.1s ease-out 0s 1 slideInFromLeft;
}

.is-inViewport .left .welcome-btn-container {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.is-inViewport .right {
  animation: 1s ease-out 0s 1 slideInFromRight;
}

.welcome-texts-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.welcome-text-1 {
  font-size: 35px;
  font-weight: 500;
  color: #040415;
  letter-spacing: 0.95px;
  padding-bottom: 10px;
}

.welcome-text-2 {
  font-size: 50px;
  font-weight: 600;
  margin-top: 10px;
  color: #040415;
  letter-spacing: 0.95px;
  padding: 10px 0 40px 0;
}

.welcome-role-text {
  text-decoration: underline;
  color: #6752ea;
  cursor: pointer;
}

.welcome-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  /* width: 55%; */
}

.cnt-me {
  height: 50px;
  width: 45%;
  border-radius: 30px;
  border: none;
  background: none;
  background-color: #6752ea;
  /* background-color: #ff4d1c; */
  color: #f4f3f8;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border: transparent;
  cursor: pointer;
}

.view-cv {
  height: 50px;
  width: 45%;
  border-radius: 30px;
  border: none;
  background: none;
  /* color: #040415; */
  background-color: #f4f3f8;
  /* background-color: #6752ea;
  color: #f4f3f8; */
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.cnt-me:hover,
.view-cv:hover {
  /* background-color: #d1d0d6;
  color: #040415; */
  background-color: #ff4d1c;
}

.view-cv-a {
  text-decoration: none;
  color: #040415;
}

.view-cv:hover > a {
  color: #f4f3f8;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.img-container {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background-color: #6752ea;
  position: relative;
  left: 150px;
  z-index: -1;
}

.img-depth {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #ff4d1c;
  position: relative;
  z-index: -2;
  top: 150px;
}

/* Info page */
#info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f3f8;
  padding: 4% 7%;
}

#info-section h1 {
  font-size: 35px;
  font-weight: 700;
  color: #787879;
  letter-spacing: 0.95px;
  padding-bottom: 10px;
}

#info-section p {
  font-size: 18px;
  font-weight: 400;
  color: #787879;
}

#info-section .hover {
  transform: scale(1.1);
}

#info-section .hover .info-right p {
  font-weight: 600;
}

#info-section .hover .info-left h1 {
  color: #6752ea;
}

#info-section .hover .info-left p {
  font-weight: 600;
  color: #6752ea;
}

.educational-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3% 0;
  -webkit-transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  -moz-transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  -o-transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.work-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3% 0;
  -webkit-transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  -moz-transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  -o-transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.info-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.info-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  padding: 0 15% 0 0;
}

/* Skills page */

#skills-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: first baseline;
  padding: 4% 7%;
  width: 100%;
}

#skills-section h1 {
  padding-bottom: 30px;
}

#skills-section img {
  width: 25px;
  height: 25px;
}

.skill-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3% 0;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  -webkit-transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  -moz-transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  -o-transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.skill p {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #040415;
}

.skill:hover {
  transform: scale(1.5);
}

.skill-hover img {
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  -moz-transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  -o-transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.skill-hover p {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #040415;
  -webkit-transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  -moz-transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  -o-transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
}

/* Project page */
#projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 4% 7%;
  margin-bottom: 5%;
}

#projects-section a {
  text-decoration: none;
}

.proj-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 550px;
  margin: 5%;
  padding: 5%;
  border-radius: 20px;
  overflow: hidden;
}

.proj-title-and-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.proj-title-and-date p {
  font-size: 20px;
  font-weight: 400;
  color: #787879;
}

.proj-img {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-top: 5%;
  visibility: hidden;
}

.proj-img-animation {
  animation: 1.1s ease-out 0s 1 slideInFromBottom;
}

.proj-img img {
  width: 100%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.is-inViewport .proj-img {
  visibility: visible;
  animation: 1s ease-out 0s 1 slideInFromBottom;
}

.is-inViewport .proj-title-and-date h1 {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.is-inViewport .proj-title-and-date p {
  animation: 1s ease-out 0s 1 slideInFromRight;
}

.odd {
  background-color: #f4f3f8;
}

.even {
  background-color: #6752ea;
  color: #fff;
}

.even p {
  color: #fff;
}

/* Footer */

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  width: 100%;
  height: 450px;
  background-color: #f4f3f8;
  color: #040415;
  position: relative;
  padding: 5% 0;
}

.con-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: 80%;
  padding: 0 0 0 7%;
}

.con-left p {
  font-size: 15px;
  font-weight: 400;
  color: #787879;
  padding-top: 2%;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 85%;
  height: 70%;
  margin: 5% 0;
  border: 1px solid #787879;
  border-radius: 70px;
  padding: 3%;
}

.img-div {
  width: 25%;
  height: 100%;
  padding: 0 0 0 5%;
  border-radius: 60%;
  background-color: #ff4d1c;
}

.text-div {
  width: 80%;
  height: 100%;
  padding: 0 0 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.con-text {
  width: 100%;
  height: 50%;
}

.text-div p {
  padding-bottom: 7px;
}

.text-div a {
  text-decoration: none;
  color: #787978;
  font-size: 20px;
  font-weight: 400;
  padding-top: 7px;
}

.con-right {
  width: 50%;
  padding: 0 10% 0 0;
  margin-left: 20%;
}

.footer-circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #716cf3;
  padding: 2%;
  position: absolute;
  top: -100px;
}

.footer-circle form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: first baseline;
  width: 100%;
  height: 100%;
}

.footer-circle form input {
  width: 80%;
  height: 60px;
  margin: 5% 0 0 10%;
  padding: 0 0 0 20px;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 400;
  color: #dbdaff;
  background-color: #908bf5;
  letter-spacing: 1px;
}

.footer-circle form input:focus {
  outline: none;
}

.footer-circle form button {
  width: 40%;
  height: 50px;
  margin: 5% 0 0 10%;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 400;
  color: #6752ea;
  background-color: #fff;
}

.is-inViewport .con-left {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

@media screen and (max-width: 1300px) {
  .welcome-text-1 {
    font-size: 30px;
  }

  .welcome-text-2 {
    font-size: 40px;
  }

  #info-section h1 {
    font-size: 32px;
    font-weight: 700;
  }

  #info-section p {
    font-size: 18px;
    font-weight: 400;
  }

  .hover .info-right p {
    font-size: 17px;
    font-weight: 600;
  }

  .hover .info-left h1 {
    font-size: 70px;
  }

  .footer-circle {
    width: 400px;
    height: 400px;
  }

  .footer-circle form input {
    width: 80%;
    height: 50px;
    margin: 5% 0 0 10%;
    padding: 0 0 0 20px;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 400;
    color: #dbdaff;
    background-color: #908bf5;
    letter-spacing: 1px;
  }

  .footer-circle form button {
    width: 40%;
    height: 40px;
    margin: 5% 0 0 10%;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 400;
    color: #6752ea;
    background-color: #fff;
  }
}

@media screen and (max-width: 1200px) {
  .welcome-text-1 {
    font-size: 25px;
  }

  .welcome-text-2 {
    font-size: 35px;
  }

  #info-section h1 {
    font-size: 30px;
    font-weight: 700;
  }

  #info-section p {
    font-size: 15px;
    font-weight: 400;
  }

  .hover .info-right p {
    font-size: 17px;
    font-weight: 600;
  }

  .hover .info-left h1 {
    font-size: 65px;
  }

  .footer-circle {
    width: 350px;
    height: 350px;
  }

  .footer-circle form input {
    width: 80%;
    height: 50px;
    margin: 5% 0 0 10%;
    padding: 0 0 0 20px;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 400;
    color: #dbdaff;
    background-color: #908bf5;
    letter-spacing: 1px;
  }

  .footer-circle form button {
    width: 40%;
    height: 40px;
    margin: 5% 0 0 10%;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 400;
    color: #6752ea;
    background-color: #fff;
  }

  .card {
    height: 60%;
  }

  .img-div {
    width: 35%;
  }
}

@media screen and (max-width: 1110px) {
  .welcome-text-1 {
    font-size: 20px;
  }

  .welcome-text-2 {
    font-size: 30px;
  }

  #info-section h1 {
    font-size: 28px;
    font-weight: 700;
  }

  .hover .info-left h1 {
    font-size: 60px;
  }

  #info-section p {
    font-size: 13px;
    font-weight: 400;
  }

  .hover .info-right p {
    font-size: 15px;
    font-weight: 600;
  }

  .card {
    height: 55%;
  }

  .card h1 {
    font-size: 20px;
  }

  .card p {
    font-size: 15px;
  }
}

@media screen and (max-width: 1050px) {
  .welcome-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img-container {
    left: 0;
    height: 250px;
    width: 250px;
  }

  .img-depth {
    display: none;
  }

  .left {
    margin-top: 20px;
  }

  .welcome-texts-container {
    align-items: center;
  }

  .welcome-text-1 {
    font-size: 25px;
  }

  .welcome-text-2 {
    font-size: 30px;
    text-align: center;
  }

  .proj-row {
    height: 450px;
  }

  .card {
    height: 45%;
  }

  .card h1 {
    font-size: 20px;
  }

  .card p {
    font-size: 15px;
  }

  .text-div h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 940px) {
  .nav-start {
    margin-left: 8%;
  }

  .topnav-icon {
    display: block;
  }

  .card {
    height: 35%;
  }

  .card h1 {
    font-size: 20px;
  }

  .card p {
    font-size: 13px;
  }

  .card a i {
    font-size: 13px;
  }

  .footer-circle {
    width: 300px;
    height: 300px;
    top: -50px;
  }

  .footer-circle form input {
    width: 80%;
    height: 50px;
    margin: 5% 0 0 10%;
    padding: 0 0 0 20px;
    border: none;
    border-radius: 30px;
    font-size: 10px;
    font-weight: 400;
    color: #dbdaff;
    background-color: #908bf5;
  }

  .footer-circle form button {
    width: 40%;
    height: 40px;
    margin: 5% 0 0 10%;
    border: none;
    border-radius: 30px;
    font-size: 10px;
    font-weight: 400;
    color: #6752ea;
    background-color: #fff;
  }
  .con-left h1 {
    font-size: 23px;
  }

  .con-left p {
    font-size: 15px;
  }
}

@media screen and (max-width: 750px) {
  #info-section {
    align-items: center;
  }

  .educational-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
    width: auto;
  }

  .work-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  .info-right {
    display: flex;
    flex-direction: column;
    padding: 5% 0;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .info-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .skill img {
    width: 15px;
    height: 15px;
  }

  .skill p {
    font-size: 10px;
  }

  .proj-row {
    height: 250px;
  }

  .proj-title-and-date h1 {
    font-size: 20px;
  }

  .proj-title-and-date p {
    font-size: 10px;
  }

  #footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 7%;
  }

  .con-right {
    visibility: hidden;
  }

  .con-left {
    width: 100%;
    align-items: center;
    margin-right: 7%;
  }

  .card {
    width: 60%;
    height: 40%;
  }
}

@media screen and (min-width: 750px) {
  #navbar-toggle,
  #navbar-toggle[aria-expanded="true"] {
    display: none;
  }

  #navbar-menu,
  #navbar-toggle[aria-expanded="true"] + #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }

  .navbar-links,
  #navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}
